<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🏀 <strong>BALL IS LIFE</strong> 🏀</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if (locals.user?.userName) { %> <% if (locals.page === '/') { %>
          <a class="nav-link active fw-bold" aria-current="page" href="/"
            >Home</a
          >
          <% } else { %>
          <a class="nav-link" href="/">Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (locals.page === '/leaderboard') { %>
          <a
            class="nav-link active fw-bold"
            aria-current="page"
            href="/leaderboard"
            >Leaderboard</a
          >
          <% } else { %>
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
          <% } %>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/chat/main"
            target="popup"
            onclick="window.open('/chat/main','popup','width=600,height=600'); return false;"
            >Join Chat</a
          >
        </li>
        <% } %>
        <li class="nav-item">
          <% if (locals.page === '/about') { %>
          <a class="nav-link active fw-bold" aria-current="page" href="/about"
            >About</a
          >
          <% } else { %>
          <a class="nav-link" href="/about">About</a>
          <% } %>
        </li>

        <li class="nav-item">
          <% if (locals.user?.userName) { %>
          <a class="nav-link" href="/logout">Log Out</a>
          <% } else { %>
          <a class="nav-link" href="/login">Log In</a>
          <% } %>
        </li>
        <% if (locals.user?.userName) { %>
        <li class="nav-item">
          <a href="/user/<%= locals.user.userID %> " class="nav-link text-dark"
            >🙍‍♂️ <%= locals.user.userName %></a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
